.header{
    display: flex;
    justify-content: center; 
    border-bottom: 1px solid gray; 
    padding-bottom: 20px;
   
}
.header a{
    color: gray;
    text-decoration: none;
    margin: 0px 80px 0px;  
}

.main1 p{
    font-size: 40px;
    width: 20px;
    padding-left: 250px;
}

.main2 p{
    display: flex;
  justify-content: center;

}

.main3 p{
    color: gray;
    transform: rotate(270deg);
}
.main3{
    display: flex;
    justify-content: end;
   margin: 0px 200px 80px ;
    
}
.main3 span{
    color: black;
}

.main4 img{
    padding-left: 250px;
}
.AboutME{
    background-color: #f6f6f6;
}
 .main5 h1{
    display: flex;
    justify-content: center;
    padding-top: 10%;
 }

 .main6 p{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
 }

 .main7 h1{
    display: flex;
    justify-content: center;
    padding-top: 10%;
 }
 .mainsoz p{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;

 }

 .imgg{
   display: flex;
   justify-content: center;
 }
.img1, .img2, .img3{
  
   margin: 0px 70px 0px;

}
.imgg p{
   width: 10px;
}
 .portfolio{
    background-color: #f6f6f6;
 }

 .main9 h1{
    display: flex;
    justify-content: center;
    padding-top: 10%;
 }
 
 .main10 img{
    padding-top: 50px;
   padding-left: 250px ;
 }
 .main11{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 20px;
 }
 .main11 a{
    color: black;
 }

 .main12 img{
    padding-top: 80px;
    padding-left: 250px;
 }

 .main13{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 20px;
 }
 .main13 a{
    color: black;
 }

 .main14 img{
    padding-top: 80px;
    padding-left: 250px;
 }

 .main15{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 20px;
 }
 .main15 a{
    color: black;
 }

 .footer h1{
    display: flex;
    justify-content: center;
    padding-top: 100px;
 }

 .footer1 p{
    display: flex;
    justify-content: center;
    font-size: 20px;  
 }

 .footer2 a{
    border: 1px solid black;
    border-radius: 50px;
    border-width: 30px; 
    background-color: black;
    color:white;
    display: flex;
    justify-content: center; 
    font-size: 20px;
    text-decoration: none;
 }

 .footer2{
    padding-left: 40%;
    padding-right: 40%;
 }

.icon {
   display: flex;
  justify-content: center;
}
.icon i{
    margin: 0px 40px;
    font-size: 30px;
    padding-top: 60px;
}

.konec{
    display: flex;
    justify-content: center;   
    padding-top: 50px;
    color: #828282;
}
.konec2{
    display: flex;
    justify-content: center;
    color: #828282;
    
}